
<nav class="navbar nav-bar-dark ">
  <a class="nav-bar" href="/">
    TOP BAR
  </a>
  Total Amount
  <input id="Total" type="text" readonly="true" value="{{totalA}}"  />
</nav>

<div class="container">  
<table>
<tr style="width: 100%;" class="list-group-horizontal list-group-item-action "  >
<th style="width: 30px;" >Id</th><th style="width: 110px;">Concept</th>
<th style="width: 90px;"> Amount </th><th style="width: 60px;">Date</th>
</tr>
  <tr *ngFor="let payment of paymentArray"  class="list-group-horizontal list-group-item-action "
  (click)="openEdit(payment)" 
  [class.active]="payment.id == selectedPayment.id"  >
   
     <th class="badge badge-primary" > {{payment.id}}</th> 
     <th> {{payment.concept}} </th><th> {{payment.amount}} </th><th> {{payment.date}} </th>
    
  </tr>


</table>

 

<div class="card-body" >
  <div class="card_title">
    Insert a new payment
  </div>
  <div class="form-group">
    <input type="text"  required id="con" name="con" maxlength="255" 
     [(ngModel)]="selectedPayment.concept"  placeholder="Concept" class="form-control" />
  

       
  </div>
    
  
   
      
  <div class="form-group">

    
  <input   type="text" id="name" name="name"        [(ngModel)]="selectedPayment.amount"  
          placeholder="Amount" currencyMask 
          class="form-control"  required
          [options]="{ prefix: '$ ', thousands: ',', decimal: '.', allowNegative: false  }"     />
        
        


  </div>
  <div class="form-group">
        <input type="date" id="dt1" [min]="minimo" [max]="maximo" [owlDateTime]="dt1"
          required   [(ngModel)]="selectedPayment.date"  placeholder="Date" class="form-control" />
        <owl-date-time  #dt1></owl-date-time>
      </div>
 
  <button type="submit" (click)="AddEdit()"> Guardar </button>
  <button 
  *ngIf="selectedPayment.id != -1"
  class="btn btn-danger"
  (click)="delete()"
  > Delete </button>
</div>

</div>
